
#mainNav .navbar-nav {
  margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item span.nav-link {
  color: #fff;
}

.masthead #profilepics {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

img.profilepics {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

img.profilepics1 {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

a.notice.profilepics {
  
    color: #FFFFFF;
    font-size: 32px;
}

#profileshowheader {
  padding-top: calc(0.1rem + 74px) !important;
  padding-bottom: 0.1rem !important;
}

.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top.profileshownav.profileshownav#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: top 0.3s;
      position: fixed;
}

#profiletitlenav {
  color: #FFFFFF;

}

#host.dropdown-item {
  color: #FFFFFF;
}