<h1>나의 프로필</h1>

<%= render 'profile_form', path: @update_path, new_post: @current_user_post, this_post: @current_user_post, visible: "" , method: "PATCH", submit: @submit_text, 
    profilepics_text: "프로필사진 수정하기" %>

</br>
<button><%= link_to '뒤로가기', '/' %></button>
    