<h1>나의 프로필</h1>
<%= render 'profile_form', path: @create_path, this_post: @empty_post, new_post: @after_profilepics, visible: "" , method: "POST", 
        submit: "프로필 등록하기", profilepics_text: "프로필 사진 등록하러 가기"%>

<button><%= link_to '뒤로가기', '/' %></button>
    